<button nz-button (click)="updateData()">refresh</button>
<button nz-button (click)="changeColumn()">changeColumn</button>
<br />
<br />

<nz-table
  class="datatable"
  #virtualTable
  nzVirtualScroll
  [nzVirtualItemSize]="40"
  [nzData]="listOfData"
  [nzLoading]="isLoading"
  [nzFrontPagination]="false"
  [nzShowPagination]="true"
  [nzShowSizeChanger]="true"
  [nzTotal]="totalCount"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  [nzPageSizeOptions]="pageSizeOptions"
  [nzScroll]="{ x: horizontalWidth + 'px', y: 'calc(100vh - 200px)' }"
  (nzPageIndexChange)="onPaginationChange({ pageIndex: $event })"
  (nzPageSizeChange)="onPaginationChange({ pageSize: $event })"
>
  <thead [nzSingleSort]="true" (nzSortChange)="onSortChange($event)">
    <tr
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="onColumnHeaderDrop($event)"
    >
      <th
        cdkDrag
        *ngFor="let column of columnOptions"
        [nzWidth]="column.width + 'px'"
        [nzAlign]="column.align || 'center'"
        [nzShowSort]="column.sortable === 'custom'"
        [nzSortKey]="column.key"
      >
        {{ column.title }}
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-template nz-virtual-scroll let-data let-index="index">
      <tr>
        <td
          *ngFor="let column of columnOptions; trackBy: trackByKey"
          [nzAlign]="column.align || 'center'"
          class="data-cell"
        >
          <div [style.width]="column.width - 16 + 'px'">
            <ng-container *ngIf="column.component; else elseTemplate">
              <ndc-dynamic
                [ndcDynamicComponent]="column.component"
                [ndcDynamicInputs]="{
                  cellValue: data[column.key],
                  index: index,
                  rowData: data,
                  columnOption: column
                }"
              ></ndc-dynamic>
            </ng-container>

            <ng-template #elseTemplate>
              {{ data[column.key] || "-" }}
            </ng-template>
          </div>
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
